<link rel="stylesheet" href="../../app/shop/shop.component.css">


<!-- hero section start -->

<section id="hero">
    <h2>#StayHome</h2>
    <p>Save more with coupons & up to 70% off!</p>
</section>


<!-- hero section end -->

<!-- Products section start here -->
 
 <section id="product1" class="section-p1">
 
 <div class="pro-container">
     <div class="pro"> 
    <img src="../../assets/img/products/f1.jpg" alt="">
 <div class="des">
 <span>adidas</span>
 <h5>Cartoon AtronautvT-Shirts</h5>
 <div class="star">
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 
 </div>
 <h4> $78 </h4>
 </div>
 <a><i class="fal fa-shopping-cart cart"></i></a>
 
     </div>
     <div class="pro">
         <img src="../../assets/img/products/f2.jpg" alt="">
 <div class="des">
 <span>adidas</span>
 <h5>Cartoon AtronautvT-Shirts style-2</h5>
 <div class="star">
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 
 </div>
 <h4> $78 </h4>
 </div>
 <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
 
     </div>
     <div class="pro">
         <img src="../../assets/img/products/f3.jpg" alt="">
 <div class="des">
 <span>adidas</span>
 <h5>Cartoon AtronautvT-Shirts style-3</h5>
 <div class="star">
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 
 </div>
 <h4> $78 </h4>
 </div>
 <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
 
     </div>
     <div class="pro">
         <img src="../../assets/img/products/f4.jpg" alt="">
 <div class="des">
 <span>adidas</span>
 <h5>Cartoon AtronautvT-Shirts style-4</h5>
 <div class="star">
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 
 </div>
 <h4> $78 </h4>
 </div>
 <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
 
     </div>
     <div class="pro">
         <img src="../../assets/img/products/f5.jpg" alt="">
 <div class="des">
 <span>adidas</span>
 <h5>Ladies AtronautvT-Top</h5>
 <div class="star">
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 
 </div>
 <h4> $108 </h4>
 </div>
 <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
 
     </div>
     <div class="pro">
         <img src="../../assets/img/products/f6.jpg" alt="">
 <div class="des">
 <span>adidas</span>
 <h5>Ladies AtronautvT-Top style-2</h5>
 <div class="star">
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 
 </div>
 <h4> $70 </h4>
 </div>
 <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
 
     </div>
     <div class="pro">
         <img src="../../assets/img/products/f7.jpg" alt="">
 <div class="des">
 <span>adidas</span>
 <h5>Ladies AtronautvT-Trouser</h5>
 <div class="star">
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 
 </div>
 <h4> $95 </h4>
 </div>
 <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
 
     </div>
     <div class="pro">
         <img src="../../assets/img/products/f8.jpg" alt="">
 <div class="des">
 <span>adidas</span>
 <h5>Ladies AtronautvT-Top style-3</h5>
 <div class="star">
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 <i class="fas fa-star"></i>
 
 </div>
 <h4> $112 </h4>
 </div>
 <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
 
     </div>

         <div class="pro"> 
             <img src="../../assets/img/products/n1.jpg" alt="">
     <div class="des">
     <span>adidas</span>
     <h5>Men Atronaut Shirts</h5>
     <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     
     </div>
     <h4> $79 </h4>
     </div>
     <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
     
         </div>
         <div class="pro">
             <img src="../../assets/img/products/n2.jpg" alt="">
     <div class="des">
     <span>adidas</span>
     <h5>Men Atronaut Shirts style-2</h5>
     <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     
     </div>
     <h4> $68 </h4>
     </div>
     <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
     
         </div>
         <div class="pro">
             <img src="../../assets/img/products/n3.jpg" alt="">
     <div class="des">
     <span>adidas</span>
     <h5>Men Atronaut Shirts style-3</h5>
     <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     
     </div>
     <h4> $114 </h4>
     </div>
     <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
     
         </div>
         <div class="pro">
             <img src="../../assets/img/products/n4.jpg" alt="">
     <div class="des">
     <span>adidas</span>
     <h5>Men Atronaut Shirts style-4</h5>
     <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     
     </div>
     <h4> $103 </h4>
     </div>
     <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
     
         </div>
         <div class="pro">
             <img src="../../assets/img/products/n5.jpg" alt="">
     <div class="des">
     <span>adidas</span>
     <h5>Men Atronaut Shirts styel 5</h5>
     <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     
     </div>
     <h4> $108 </h4>
     </div>
     <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
     
         </div>
         <div class="pro">
             <img src="../../assets/img/products/n6.jpg" alt="">
     <div class="des">
     <span>adidas</span>
     <h5>Men Atronaut Shorts</h5>
     <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     
     </div>
     <h4> $71 </h4>
     </div>
     <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
     
         </div>
         <div class="pro">
             <img src="../../assets/img/products/n7.jpg" alt="">
     <div class="des">
     <span>adidas</span>
     <h5>Men Atronaut Shirts style-6</h5>
     <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     
     </div>
     <h4> $97 </h4>
     </div>
     <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
     
         </div>
         <div class="pro">
             <img src="../../assets/img/products/n8.jpg" alt="">
     <div class="des">
     <span>adidas</span>
     <h5>Men Atronaut Shirts style-7</h5>
     <div class="star">
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     <i class="fas fa-star"></i>
     
     </div>
     <h4> $112 </h4>
     </div>
     <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
     
         </div>
     </div>
     
     
     </section>
 
 
 <section id="pagination" class="section-p1">
     <a href="shop">1</a>
     <a href="page1">2</a>
     <a href="page2">3</a>
     <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
     
 </section>
 


 <section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sighn Up For Newsletter</h4>
<p>
    Get E-mail updates about our latest shop and <span>special offers.</span>
</p>

<div class="form">
    <input type="text" placeholder="Your Email address">
    <button class="normal">Sighn Up</button>
</div>


    </div>
</section>


















































































