<link rel="stylesheet" href="../../app/smallproduct/smallproduct.component.css">


<!-- hero section start -->

<section id="hero">
    <h2>#StayHome</h2>
    <p>Save more with coupons & up to 70% off!</p>
</section>


<!-- hero section end -->

<section id="prodetails" class="section-p1">
    <div class="single-pro-img">
        <img src="../../assets/img/products/f1.jpg" width="100%" id="mainimg" alt="">
        <div class="small-img-group">
            <div class="small-img-col">
                <img src="../../assets/img/products/f1.jpg" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="../../assets/img/products/f2.jpg" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="../../assets/img/products/f3.jpg" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="../../assets/img/products/f4.jpg" width="100%" class="small-img" alt="">
            </div>
        </div>
    </div>
    <div class="single-pro-details">
        <h5>Home / T-Shirt</h5>
        <h4>Men's Fashion T-Shirt</h4>
        <h2>$139</h2>
        <select>
            <option>Select Size</option>
            <option>SMALL</option>
            <option>LARGE</option>
            <option>XL</option>
            <option>XXL</option>
        </select>
    </div>
</section>


 <section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sighn Up For Newsletter</h4>
<p>
    Get E-mail updates about our latest shop and <span>special offers.</span>
</p>

<div class="form">
    <input type="text" placeholder="Your Email address">
    <button class="normal">Sighn Up</button>
</div>


    </div>
</section>




